.chat-main
  .chat-main__group-info
    .chat-main__group-info__name
      = @group.name
      .chat-main__group-info__name__member
        - @group.users.each do |user|
          = user.name
    .chat-main__group-info__btn
      = link_to 'edit',edit_group_path(@group)
       
  .messages
    = render @messages

  .chat-main__message-form
    = form_for [@group,@message] do |f|
      = f.text_field :content, class: 'message', placeholder: 'type a message'
      .image-btn
        = f.label :image, class: "image-btn-pic" do
          = icon('fas', 'image')
        = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'send-btn'
