.side-bar
  .side-bar__user-name
    .top-item
      .top-item__name
        = current_user.name
      .top-item__icon
        = link_to new_group_path, class: "top-item__icon__btn__edit" do
          = icon('fas', 'edit', class:"top-item__icon__btn") 
        = link_to edit_user_path(current_user), class: "top-item__icon__btn__option" do
          = icon('fas', 'cog', class:"top-item__icon__btn") 

  .side-bar__groups-list
    - current_user.groups.each do |group|
      .group
        = link_to group_messages_path(group) do
          .group__name
            = group.name
          .group__message
            = group.show_last_message